body{
  margin: 0px;
  background-color: rgb(248, 238, 238);
}

ul{
  list-style: none;
  padding: 0px;
}

header{
  background-color: rgb(253, 249, 249);
  padding: 8px;
}

header p{
  text-align: center;
  margin: 0px;
  margin-bottom: 3px;
}

.container{
  width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  background: white;
}

.notice{
  padding: 20px;
  border: solid 2px red;
}

p.warning{
  color: red;
  font-size: 18px;
}

.information-links li{
  margin-bottom: 4px;
  padding: 2px 8px;
  background-color: rgb(238, 237, 237);
}

.information-links li a{
  color: red;
}